.refinedLink {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 10px !important;
}

.refinedLink li {
  width: 100%;
  max-width: calc(100% / 3 - 8px);
}

.refinedLink li input[type="button"] {
  color: #fff;
  border-radius: 12px;
  background-color: #4a69e2;
  font-family: "Nunito Sans", sans-serif;
  width: 100%;
  text-transform: capitalize;
  transition: 0.5s ease-in-out;
}

.refinedLink li input[type="button"]:hover {
  background-color: #0c2eb5;
}

.size {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px !important;
  align-items: flex-start;
}

.size li {
  width: 100%;
  height: 41.5px;
  max-width: calc(100% / 4 - 9px);
}

.size li input[type="button"] {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  text-transform: capitalize;
}

.colour {
  gap: 12px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px !important;
  align-items: flex-start;
}

.colour li {
  width: 100%;
  height: 41.5px;
  max-width: calc(100% / 4 - 9px);
}

.colour li input[type="button"] {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.Category {
  gap: 10px;
  display: flex;
  margin-top: 10px !important;
  flex-direction: column;
  align-items: flex-start;
}

.Category li {
  gap: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
}

.Category li label {
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}

.gender {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 10px !important;
  align-items: flex-start;
}

.gender li {
  gap: 3px;
  display: flex;
  align-items: center;
}

.gender li label {
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
}
