.credHeroCard {
  position: relative;
}

.credHeroCard .credHeroContent {
  position: absolute;
  top: 0;
  height: 100%;
  color: #fff;
  display: flex;
  align-items: flex-start;
  padding: 30px;
  justify-content: space-between;
  font-family: "Khand", sans-serif;
}

.credHeroCard .bgImg figure {
  height: 807px;
  overflow: hidden;
  border-radius: 12px;
  display: flex;
  gap: 75px;
  position: relative;
  align-items: center;
}

.passwordContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.passwordInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.toggleButton {
  padding: 8px 12px;
  font-size: 16px;
  border: none;
  background-color: #0070f3;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.toggleButton:hover {
  background-color: #005bb5;
}
