.credHeroCard {
  position: relative;
}

.credHeroCard .credHeroContent {
  position: absolute;
  top: 0;
  height: 100%;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Khand", sans-serif;
}

.credHeroCard .bgImg figure {
  height: 570px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.passwordContainer {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.passwordInput {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.passwordLabel button {
  cursor: pointer !important;
  border: none !important;
  outline: none !important;
}

.credHeroContent .tag {
  gap: 16.37px;
  display: flex;
  opacity: 0.7;
  align-items: center;
}

.credHeroContent .tag p {
  margin-bottom: 0;
  font-size: 13.1px;
  line-height: 21.28px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.credHeroContent .tag hr {
  width: 122.79px;
  margin: 0;
}

.credHeroContent h2 {
  font-size: 46.89px;
  line-height: 55px;
  font-weight: 700;
  margin-bottom: 0;
  padding-bottom: 14px;
}

.credHeroContent p {
  font-size: 16px;
  line-height: 22.91px;
  font-weight: 400;
}
