.heroSection_main .heroSection_items figure {
  width: 100%;
  height: 100%;
}

.heroSection_main .heroSection_items figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: top;
}

@media only screen and (max-width: 630px) {
  .heroSection_main .heroSection_items figure {
    height: 45vh;
    overflow: hidden;
    border-radius: 12px;
  }

  .heroSection_main .heroSection_items figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
  }
}
