.myAccountMainContainer .myAccountInnerItems {
  gap: 60px;
  padding: 20px 0 40px 0;
  display: flex;
  align-items: flex-start;
}

.myAccountInnerItems .left {
  width: 100%;
  top: 100px;
  position: sticky;
  max-width: calc(100% - 75%);
}

.myAccountInnerItems .right {
  width: 100%;
  max-width: calc(100% - 25%);
}
