.myInfoContainer h3 {
  font-size: 28px;
  line-height: 30px;
  font-weight: 800;
  padding-bottom: 13px;
  color: #3c4242;
}

.myInfoContainer .topBar {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
  justify-content: space-between;
}

.topBar p:first-child {
  font-size: 18px;
  line-height: 26px;
  color: #3c4242;
  text-transform: capitalize;
}

.topBar p:last-child {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  color: #3c4242;
  text-transform: capitalize;
}

.myInfoContainer .topBar p a {
  color: #3c4242;
}

.infoBlanks li {
  padding: 15px 0;
  border-bottom: 1px solid #edeef2;
}

.infoBlanks li:first-child {
  padding-top: 0;
}

.infoBlanks li h5 {
  font-size: 15px;
  color: #3c4242;
  line-height: 20px;
  font-weight: 700;
  padding-bottom: 3px;
  text-transform: capitalize;
}

.infoBlanks li p {
  font-size: 13px;
  color: #3c4242;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 0;
}

.infoBlanks li .password {
  font-size: 30px;
  line-height: 20px;
  letter-spacing: 1.6px;
}

.infoAddress .topBar {
  padding-top: 40px;
}

.addressCardList {
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.addressCardList li {
  width: 100%;
  padding: 30px;
  max-width: calc(100% / 2 - 10px);
  border-radius: 12px;
  background-color: #f7f7fb;
}

.addressCardList li h4 {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 8px;
  color: #3c4242;
  text-transform: capitalize;
}

.addressCardList li h5 {
  font-size: 16px;
  line-height: 28px;
  color: #232321;
  padding-bottom: 5px;
}

.addressCardList li p {
  font-size: 14px;
  line-height: 24px;
  color: #232321;
  padding-bottom: 15px;
}

.addressCardList .addresOpt {
  gap: 10px;
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.addressCardList .addresOpt li {
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  line-height: 20px;
  max-width: fit-content;
  border: 1px solid #807d7e;
}

.addresEditOpt {
  gap: 10px;
  display: flex;
  align-items: center;
}

.addresEditOpt li,
.addresEditOpt li a {
  padding: 0;
  cursor: pointer;
  width: fit-content;
  font-size: 14px;
  font-weight: 700;
  color: #232321;
  text-transform: capitalize;
}

/* edit my info page css  */

.editMyInfoForm form ul {
  gap: 30px;
  display: flex;
  padding-bottom: 40px;
  flex-direction: column;
  align-items: flex-start;
}

.editMyInfoForm form ul li {
  display: flex;
  gap: 5px;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.editMyInfoForm form ul li label {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-transform: capitalize;
}

.editMyInfoForm form ul li input {
  outline: none;
  border: none;
  padding: 16px 20px;
  width: 100%;
  font-size: 13px;
  color: #807d7e;
  border-radius: 8px;
  background-color: #f7f7fb;
}

.editMyInfoForm form ul li input::placeholder,
.textarea li textarea::placeholder {
  text-transform: capitalize;
  font-family: "Nunito Sans", sans-serif !important;
}

.editMyInfoForm form .nameGrid {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 0;
  flex-wrap: wrap;
  align-items: flex-start;
}

.editMyInfoForm form .nameGrid li {
  width: 100%;
  max-width: calc(100% / 2 - 15px);
}

.editMyInfoForm form input[type="submit"] {
  padding: 13px 27px;
  font-size: 14px;
  font-weight: 400;
  border-radius: 10px;

  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background-color: #232321;
}

.editMyInfoForm form input[type="submit"]:hover {
  background-color: #3c4242;
}

.textarea {
  padding-top: 30px;
}

.textarea li {
  width: 100%;
}

.textarea li textarea {
  outline: none;
  border: none;
  padding: 16px 20px;
  width: 100%;
  font-size: 13px;
  color: #807d7e;
  border-radius: 8px;
  background-color: #f7f7fb;
}

.defaultOpt {
  gap: 5px !important;
}

.defaultOpt li {
  padding: 0;
  align-items: center !important;
  flex-direction: row !important;
}

.defaultOpt li input[type="checkbox"] {
  max-width: fit-content;
}

.defaultOpt li {
  font-size: 14px;
  line-height: 20px;
}

@media only screen and (max-width: 880px) {
  .addressCardList li {
    padding: 20px;
  }

  .addresEditOpt li,
  .addresEditOpt li a {
    padding: 0;
  }
}

@media only screen and (max-width: 830px) {
  .myInfoContainer .topBar {
    padding-bottom: 30px;
  }
  .myInfoContainer h3 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 20px;
  }

  .addressCardList li h5 {
    font-size: 12px;
    line-height: 20px;
  }

  .addressCardList li h4 {
    font-size: 16px;
    line-height: 22px;
    padding-bottom: 4px;
  }

  .infoBlanks li h5 {
    font-size: 13px;
    line-height: 22px;
    padding-bottom: 2px;
  }

  .addressCardList li p {
    font-size: 12px;
    line-height: 18px;
    color: #232321;
    padding-bottom: 10px;
  }

  .addressCardList .addresOpt {
    gap: 5px;
    padding-bottom: 10px;
  }

  .addressCardList .addresOpt li {
    padding: 5px;
    font-size: 10px;
    line-height: 20px;
  }

  .addresEditOpt li,
  .addresEditOpt li a {
    font-size: 12px;
  }

  .infoBlanks li {
    padding: 10px 0;
  }

  .infoBlanks li:first-child {
    padding-top: 0;
  }

  .infoBlanks li h5 {
    font-size: 12px;
    line-height: 15px;
    padding-bottom: 0px;
  }

  .infoBlanks li p {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 0;
  }
}
