.pageLinkBarMain {
  padding: 21px 0 30px 0;
}

.pageLinkBarMain ul {
  gap: 20px;
  display: flex;
  align-items: center;
  font-family: "Nunito Sans", sans-serif;
}

.pageLinkBarMain ul li {
  gap: 20px;
  display: flex;
  align-items: center;
}

.pageLinkBarMain ul li:last-child img {
  display: none;
}

.pageLinkBarMain ul li a {
  font-size: 15px;
  color: #3c3d4c;
  text-transform: capitalize;
}
.pageLinkBarMain ul li:last-child {
  font-weight: 700;
}

@media only screen and (max-width: 991px) {
  .pageLinkBarMain ul {
    gap: 12px;
  }

  .pageLinkBarMain ul li {
    gap: 12px;
  }

  .pageLinkBarMain ul li a {
    font-size: 13px;
  }
}

@media only screen and (max-width: 505px) {
  .pageLinkBarMain {
    padding: 15px 0 0px 0;
  }
  .pageLinkBarMain ul {
    gap: 5;
  }

  .pageLinkBarMain ul li {
    gap: 5;
  }

  .pageLinkBarMain ul li a {
    font-size: 12px;
  }
}
