.userRating {
  display: flex;
}

.filled {
  color: orange; 
}

.empty {
  color: lightgray; 
}

.productDetailMainContainer {
  padding-bottom: 60px;
}

.productDetailInnerItems {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  font-family: "Nunito Sans", sans-serif;
}

.productDetailInnerItems .left {
  width: 100%;
  max-width: calc(100% - 40%);
}

.productDetailInnerItems .right {
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 100px;
  max-width: calc(100% - 60%);
}

.productDetailInnerItems .left .proImgGall {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 12px;
  align-items: flex-start;
}

.productDetailInnerItems .left .proImgGall {
  margin-bottom: 40px !important;
}

.productDetailInnerItems .left .proImgGall li {
  width: 100%;
  height: 360px;
  overflow: hidden;
  background-color: #f7f7fb;
  max-width: calc(100% / 2 - 5px);
}

.productDetailInnerItems .left .proImgGall li figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.productDetailInnerItems .left .proImgGall li figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDescrip h3 {
  font-size: 30px;
  color: #232321;
  line-height: 50.04px;
  font-weight: 600;
  margin-bottom: 5px;
}

.productDescrip .proDesc {
  font-size: 16px;
  color: #807d7e;
  margin-bottom: 15px;
  line-height: 27.14px;
  font-weight: 300;
}

.productDescrip ul {
  display: flex;
  gap: 0;
  margin: 40px 0 !important ;
  flex-wrap: wrap;
  background-color: #f7f7fb;
  border-radius: 12px;
  overflow: hidden;
  align-items: flex-start;
}

.productDescrip ul li {
  width: 100%;
  padding: 30px;
  border: 0.5px solid #bebcbd;
  max-width: calc(100% / 3);
}

.productDescrip ul li:first-child {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.productDescrip ul li .userComments {
  margin-top: 40px;
}

.commentBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentBar h4 {
  font-size: 30px;
  color: #232321;
  line-height: 50.04px;
  font-weight: 600;
  margin-bottom: 5px;
}

.commentBar {
  margin-bottom: 30px;
}

.commentBar .dropdown {
  padding: 12px 18px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 40px;
  position: relative;
  cursor: pointer;
  border: 1px solid #e9eaf0;
  background-color: #f7f7fb;
}

.commentBar .dropdown img {
  width: 16px;
  height: 16px;
}

.userComments ul li {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  padding: 30px 0;
  border-bottom: 1px solid #e9eaf0;
}

.userComments ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.userComments ul li:first-child {
  padding-top: 0;
}

.userComments ul li .commLeft {
  width: 100%;
  max-width: calc(100% - 94%);
}

.userComments ul li .commRight {
  width: 100%;
  max-width: calc(100% - 6%);
}

.userComments ul li .userProfile {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
}

.userComments ul li .userProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userComments ul li .userReview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.userComments ul li .userReview .userDetailBar {
  gap: 20px;
  display: flex;
  align-items: center;
}

.userComments ul li .userReview .userDetailBar h4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #1d2026;
}

.userComments ul li .userReview .userDetailBar p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #6e7485;
}

.userComments ul li .userReview .descrip {
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: #4e5566;
}

.userComments .loadmoreCon {
  padding-top: 50px;
}

.userComments .loadmoreCon .loadmore {
  color: #fff;
  padding: 12px 30px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.4s ease-in-out;
  background-color: #0a0b0b;
}

.userComments .loadmoreCon .loadmore:hover {
  background-color: #4e5566;
}

.productDescrip ul li:nth-child(2) {
  border-top: 0;
}

.productDescrip ul li:nth-child(3) {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.productDescrip ul li:nth-child(4) {
  border: 0;
}

.productDescrip ul li:nth-child(5) {
  border-bottom: 0;
  border-top: 0;
}

.productDescrip ul li:nth-child(6) {
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  border-left: 0;
}

.productDescrip ul li p {
  font-size: 17.48px;
  font-weight: 400;
  line-height: 19.48px;
  color: #807d7e;
  margin-bottom: 9px;
}

.productDescrip ul li h4 {
  font-size: 17.48px;
  font-weight: 500;
  line-height: 18.48px;
}

.productDetail .tag {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 600;
  padding: 13px 22px 10px 22px;
  margin-bottom: 38px;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid #232321;
}

.productDetail h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 39px;
  color: #232321;
  margin-bottom: 10px;
}

.productDetail h3 {
  font-size: 27px;
  line-height: 41.8px;
  font-weight: 600;
  margin-bottom: 15px;
}

.productDetail h4 {
  font-size: 16px;
  line-height: 24.46px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.productDetail .colorOpt {
  margin-bottom: 30px;
}

.productDetail .colorOpt ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.productDetail .colorOpt ul li {
  width: 48px;
  height: 48px;
  display: flex;

  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.productDetail .colorOpt ul li i {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.active {
  border: 3px solid #000;
}

.productDetail .sizeOpt {
  margin-bottom: 30px;
}

.sizeOpt .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sizeOpt .bar a {
  font-size: 14px;
  line-height: 21.41px;
  color: #232321;
  text-transform: uppercase;
  text-decoration: underline;
}

.sizeOpt ul {
  gap: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sizeOpt ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100% / 8 - 4px);
  border-radius: 8px;
  font-size: 14px;
  height: 48px;
  color: #8f8c91;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background-color: #d2d1d3;
}

.selectSize {
  color: #fff !important;
  background-color: #0a0b0b !important;
}

.productDetail .buyOpt {
  margin-bottom: 30px;
  display: flex;
  gap: 14px;
}

.buyOpt .cartBtn {
  width: 100%;
  padding: 16px 0;
  text-align: center;
  max-width: calc(85%);
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  background-color: #232321;
}

.buyOpt .cartBtn:hover {
  background-color: #565656;
}

.buyOpt .wishlist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(12%);
  border-radius: 8px;
  transition: 0.4s ease-in-out;
  background-color: #0a0b0b;
}

.buyOpt .wishlist:hover {
  background-color: #565656;
}

.opt ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.opt {
  margin-bottom: 40px;
}

.opt ul li {
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  max-width: calc(100% / 2);
}

.opt ul li i {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7fb;
}

.opt ul li p {
  color: #0a0b0b;
  font-weight: 500;
  font-size: 14.35px;
  line-height: 24.59px;
}

.opt ul li:nth-last-child(-n + 2) {
  margin-bottom: 0 !important;
}

.vedioSectionMain {
  border-radius: 12px;
  overflow: hidden;
  height: 422px;
}

.vedioSectionMain .reactPlayer {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.relatedProducts {
  padding: 0 0 60px 0;
  font-family: "Nunito Sans", sans-serif;
}

.relatedProducts h4 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 55.04px;
}

.activeRating {
  display: block;
  position: absolute;
  top: 49px;
  left: 0;
  padding: 12px !important;
  background-color: #ffffff;
  width: 100%;
  border: 1px solid #e9eaf0;
}

.activeRating {
  margin-bottom: 12px;
}

.ratingDrop {
  display: none;
}

.activeRating li {
  padding: 5px 0 !important;
}

@media only screen and (max-width: 1199px) {
  .opt ul li {
    gap: 10px;
  }

  .opt ul li i {
    width: 40px;
    height: 40px;
  }
}

@media only screen and (max-width: 999px) {
  .productDetail h2 {
    font-size: 25px;
    line-height: 32px;
    margin-bottom: 5px;
  }

  .productDetail h3 {
    font-size: 20px;
    line-height: 35px;
    margin-bottom: 5px;
  }

  .productDetail .colorOpt {
    margin-bottom: 17px;
  }

  .productDetail .colorOpt ul li {
    width: 35px;
    height: 35px;
  }

  .productDetail .colorOpt ul li i {
    width: 25px;
    height: 25px;
  }

  .productDetail .sizeOpt {
    margin-bottom: 17px;
  }

  .sizeOpt ul li {
    font-size: 13px;
    height: 42px;
  }

  .buyOpt .cartBtn {
    padding: 12px 0;
    letter-spacing: 0;
  }

  .sizeOpt ul li {
    max-width: calc(100% / 6 - 12px);
  }

  .productDescrip ul li {
    padding: 20px;
  }

  .productDescrip ul li p {
    font-size: 14.48px;
    font-weight: 400;
    line-height: 15.48px;
    color: #807d7e;
    margin-bottom: 4px;
  }

  .productDescrip ul li h4 {
    font-size: 15.48px;
  }

  .opt ul li {
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
  }

  .opt ul li p {
    line-height: 20px;
  }

  .userComments ul li {
    flex-direction: column;
  }

  .userComments ul li .userReview .userDetailBar {
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }
}

@media only screen and (max-width: 846px) {
  .productDetailMainContainer {
    display: none;
  }

  .productDetail .tag {
    font-size: 12px;
    padding: 10px;
    margin-bottom: 12px;
    color: #fff;
    background-color: #0a0b0b;
    border: 1px solid #232321;
  }

  .productDetail .colorOpt {
    margin-bottom: 0;
  }

  .opt ul {
    gap: 20px;
  }

  .opt ul li {
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 0;
  }

  .productDetail .buyOpt {
    margin-bottom: 0;
  }

  .opt {
    margin-bottom: 0;
  }

  .commentBar h4 {
    font-size: 20px;
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 697px) {
  .commentBar {
    margin-bottom: 20px;
  }
  .commentBar .dropdown {
    padding: 9px;
    font-size: 13px;
    line-height: 20px;
    gap: 20px;
  }

  .commentBar .dropdown img {
    width: 12px;
    height: 12px;
  }
}

@media only screen and (max-width: 505px) {
  .productDescrip ul li {
    max-width: calc(100% / 2);
  }

  .productDescrip ul li:nth-child(2) {
    border-right: 0;
  }

  .productDescrip ul li:nth-child(4) {
    border-left: 0.5px solid #bebcbd;
    border-bottom: 0.5px solid #bebcbd;
  }

  .productDescrip ul li:nth-child(5) {
    border-right: 0;
    border-left: 0;
  }
  .productDescrip ul li:nth-child(6) {
    border-left: 0.5px solid #bebcbd;
  }
}

/* size chart popup css  */
.sizeChartContainer {
  position: absolute;
  visibility: hidden;
}

.sizeChartInner {
  height: 100vh;
  width: 50%;
  padding: 30px;
  border-radius: 12px 0 0 12px;
  background-color: #000;
}

.activeFliter {
  top: 0;
  height: 100vh;
  width: 100vw;
  backdrop-filter: blur(4px);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 99999999;
  visibility: visible;

  background-color: #00000041;
}

.crossBtn {
  position: absolute;
  top: 5%;
  font-size: 14px;
  right: 2%;
  line-height: 0;
  cursor: pointer;
}

.sizeChartInner .ProImg {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  background-color: #f7f7fb;
}

.sizeProduct {
  color: #fff;
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff60;
  align-items: flex-start;
}

.sizeChartInner .ProImg figure {
  width: 130px;
  height: 130px;
  overflow: hidden;
}

.sizeChartInner .ProImg img {
  width: 100%;
  height: 100%;
}

.sizeProduct .proDesc h3 {
  font-size: 18px;
  line-height: 28px;
  /* margin-bottom: 5px; */
}

.sizeProduct .proDesc p {
  font-size: 14px;
  line-height: 23px;
  /* margin-bottom: 4px; */
}

/* .sizeProduct .price h5 {
  font-size: 14px;
} */

.sizeProduct .price h4 {
  padding-top: 8px;
  font-size: 22px;
}

.proDesc {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.sizeChartList .sizeOpt {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  padding: 20px 0;
  border-bottom: 1px solid #ffffff60;
}

.sizeChartList .sizeOpt .opt {
  display: flex;
  margin-bottom: 0;
  gap: 5px;
  align-content: center;
}

.sizeChartList .sizeOpt .opt input {
  cursor: pointer;
}

.sizeChartList table {
  width: 100%;
}

.sizeChartList table,
.sizeChartList th,
.sizeChartList td {
  color: #fff;
  text-align: center;
  border: 1px solid #fff;
}

.sizeChartList th,
.sizeChartList td {
  padding: 5px;
}

.sizeChartList table input {
  cursor: pointer;
}
