.productDetailMainContainer {
  padding-bottom: 60px;
}

.productDetailInnerItems {
  gap: 30px;
  display: flex;
  align-items: flex-start;
  font-family: "Nunito Sans", sans-serif;
}

.productDetailInnerItems .left {
  width: 100%;
  max-width: calc(100% - 40%);
}

.productDetailInnerItems .right {
  width: 100%;
  padding: 10px;
  position: sticky;
  top: 100px;
  max-width: calc(100% - 60%);
}

.productDetailInnerItems .left .proImgGall {
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 12px;
  align-items: flex-start;
}

.productDetailInnerItems .left .proImgGall {
  margin-bottom: 40px !important;
}

.productDetailInnerItems .left .proImgGall li {
  width: 100%;
  height: 360px;
  overflow: hidden;
  background-color: #f7f7fb;
  max-width: calc(100% / 2 - 5px);
}

.productDetailInnerItems .left .proImgGall li figure {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.productDetailInnerItems .left .proImgGall li figure img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.productDetailInnerItems .left .productDescrip h3 {
  font-size: 36px;
  color: #232321;
  line-height: 55.04px;
  font-weight: 600;
  margin-bottom: 5px;
}

.productDetailInnerItems .left .productDescrip .proDesc {
  font-size: 17px;
  color: #807d7e;
  margin-bottom: 22px;
  line-height: 27.14px;
  font-weight: 400;
}

.productDescrip ul {
  display: flex;
  gap: 0;
  flex-wrap: wrap;
  background-color: #f7f7fb;
  border-radius: 12px;
  overflow: hidden;
  align-items: flex-start;
}

.productDescrip ul li {
  width: 100%;
  padding: 30px 50px;
  border: 0.5px solid #bebcbd;
  max-width: calc(100% / 3);
}

.productDescrip ul li:first-child {
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.userComments {
  margin-top: 40px;
}

.commentBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.commentBar h4 {
  font-size: 36px;
  color: #232321;
  line-height: 55.04px;
  font-weight: 600;
  margin-bottom: 5px;
}

.commentBar {
  margin-bottom: 30px;
}

.commentBar .dropdown {
  padding: 12px 18px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 40px;
  cursor: pointer;
  border: 1px solid #e9eaf0;
  background-color: #f7f7fb;
}

.commentBar .dropdown img {
  width: 16px;
  height: 16px;
}

.userComments ul li {
  gap: 14px;
  display: flex;
  align-items: flex-start;
  padding: 30px 0;
  border-bottom: 1px solid #e9eaf0;
}

.userComments ul li:last-child {
  padding-bottom: 0;
  border-bottom: 0;
}

.userComments ul li:first-child {
  padding-top: 0;
}

.userComments ul li .commLeft {
  width: 100%;
  max-width: calc(100% - 94%);
}

.userComments ul li .commRight {
  width: 100%;
  max-width: calc(100% - 6%);
}

.userComments ul li .userProfile {
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 100%;
}

.userComments ul li .userProfile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userComments ul li .userReview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
}

.userComments ul li .userReview .userDetailBar {
  gap: 20px;
  display: flex;
  align-items: center;
}

.userComments ul li .userReview .userDetailBar h4 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  color: #1d2026;
}

.userComments ul li .userReview .userDetailBar p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #6e7485;
}

.userComments ul li .userReview .descrip {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #4e5566;
}

.userComments .loadmoreCon {
  padding-top: 50px;
}

.userComments .loadmoreCon .loadmore {
  color: #fff;
  padding: 12px 30px;
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 16px;
  border-radius: 12px;
  transition: 0.4s ease-in-out;
  background-color: #0a0b0b;
}

.userComments .loadmoreCon .loadmore:hover {
  background-color: #4e5566;
}

.productDescrip ul li:nth-child(2) {
  border-top: 0;
}

.productDescrip ul li:nth-child(3) {
  border-top: 0;
  border-right: 0;
  border-left: 0;
}

.productDescrip ul li:nth-child(4) {
  border: 0;
}

.productDescrip ul li:nth-child(5) {
  border-bottom: 0;
  border-top: 0;
}

.productDescrip ul li:nth-child(6) {
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  border-left: 0;
}

.productDescrip ul li p {
  font-size: 19.48px;
  font-weight: 400;
  line-height: 19.48px;
  color: #807d7e;
  margin-bottom: 14px;
  letter-spacing: 0.8px;
}

.productDescrip ul li h4 {
  font-size: 19.48px;
  font-weight: 500;
  line-height: 19.48px;
  color: #000000;
  margin-bottom: 14px;
  letter-spacing: 0.8px;
}

.productDetailInnerItems .right .productDetail .tag {
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 600;
  padding: 13px 22px 10px 22px;
  margin-bottom: 38px;
  border-radius: 10px;
  width: fit-content;
  border: 1px solid #232321;
}

.productDetailInnerItems .right .productDetail h2 {
  font-size: 38px;
  font-weight: 600;
  line-height: 43px;
  color: #232321;
  margin-bottom: 15px;
}

.productDetailInnerItems .right .productDetail h3 {
  font-size: 34px;
  line-height: 49.8px;
  font-weight: 600;
  margin-bottom: 18px;
}

.productDetail h4 {
  font-size: 16px;
  line-height: 24.46px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.productDetailInnerItems .right .productDetail .colorOpt {
  margin-bottom: 30px;
}

.productDetailInnerItems .right .productDetail .colorOpt ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

.productDetailInnerItems .right .productDetail .colorOpt ul li {
  width: 48px;
  height: 48px;
  display: flex;

  border-radius: 100%;
  align-items: center;
  justify-content: center;
}

.productDetailInnerItems .right .productDetail .colorOpt ul li i {
  width: 32px;
  height: 32px;
  display: block;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.active {
  border: 3px solid #000;
}

.productDetailInnerItems .right .productDetail .sizeOpt {
  margin-bottom: 30px;
}

.sizeOpt .bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sizeOpt .bar a {
  font-size: 14px;
  line-height: 21.41px;
  color: #232321;
  text-transform: uppercase;
  text-decoration: underline;
}

.sizeOpt ul {
  gap: 14px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.sizeOpt ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(100% / 8 - 4px);
  border-radius: 8px;
  font-size: 16px;
  height: 48px;
  color: #8f8c91;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  background-color: #d2d1d3;
}

.selectSize {
  color: #fff !important;
  background-color: #0a0b0b !important;
}

.productDetailInnerItems .right .productDetail .buyOpt {
  margin-bottom: 30px;
  display: flex;
  gap: 14px;
}

.buyOpt .cartBtn {
  width: 100%;
  padding: 12px 0;
  text-align: center;
  max-width: calc(85%);
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  background-color: #232321;
}

.buyOpt .cartBtn:hover {
  background-color: #565656;
}

.buyOpt .wishlist {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: calc(12%);
  border-radius: 8px;
  transition: 0.4s ease-in-out;
  background-color: #0a0b0b;
}

.buyOpt .wishlist:hover {
  background-color: #565656;
}

.opt ul {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.opt {
  margin-bottom: 40px;
}

.opt ul li {
  gap: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  max-width: calc(100% / 2);
}

.opt ul li i {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f7f7fb;
}

.opt ul li p {
  color: #0a0b0b;
  font-weight: 500;
  font-size: 19.35px;
  line-height: 29.59px;
}

.opt ul li:nth-last-child(-n + 2) {
  margin-bottom: 0 !important;
}

.vedioSectionMain {
  border-radius: 12px;
  overflow: hidden;
  height: 422px;
}

.vedioSectionMain .reactPlayer {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.relatedProducts {
  padding: 0 0 60px 0;
  font-family: "Nunito Sans", sans-serif;
}

.relatedProducts h4 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
  line-height: 55.04px;
}
