.secondaryBtn {
  color: #ffffff;
  padding: 19px 53.86px 19px 54px;
  border-radius: 6px;
  font-size: 20px;
  line-height: 30.8px;
  font-weight: 600;
  cursor: pointer;
  background-color: #000000;
  text-transform: uppercase;
  border: none;
  outline: none;
  transition: 0.4s ease-in-out;
  font-family: "Nunito Sans", sans-serif;
}

.secondaryBtn:hover {
  background-color: #515151;
}

@media only screen and (max-width: 944px) {
  .secondaryBtn {
    font-size: 16px;
    padding: 9px 35px 5px 35px;
  }
}
