@import url("https://fonts.googleapis.com/css2?family=Khand:wght@300;400;500;600;700&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap"); */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

ul {
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}

figure {
  margin-bottom: 0 !important;
}

body {
  font-family: "Khand", sans-serif;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1240px !important;
}

/* shoe slider custome css  */

.popular_propduct_slider .slick-slider .slick-track {
  display: flex;
  gap: 57.91px;
}

.popular_propduct_slider .slick-dots {
  bottom: -43.22px !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 17.29px;
}

.popular_propduct_slider .slick-dots li {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: 0 !important;
}

.popular_propduct_slider .slick-dots li.slick-active button {
  height: 5.9px;
  width: 25.93px;
  background-color: #000000;
  border-radius: 17.29px;
}

.popular_propduct_slider .slick-dots li button {
  height: 9.51px;
  width: 9.51px;
  transition: 0.4s ease-in-out;
  background-color: #000000;
  border-radius: 17.29px;
}

.popular_propduct_slider .slick-dots li button:before {
  display: none;
}

.testimonialSliderContainer .slick-slider {
  width: 100%;
}

@media only screen and (max-width: 944px) {
  .popular_propduct_slider .slick-slider .slick-track {
    gap: 20px;
  }
}

@media only screen and (max-width: 601px) {
  .popular_propduct_slider .slick-slider .slick-track {
    gap: 4px;
  }
}

@media only screen and (max-width: 567px) {
  .popular_propduct_slider .slick-slider .slick-track {
    gap: 2px;
  }
}

@media only screen and (max-width: 389px) {
  .popular_propduct_slider .slick-slider .slick-track {
    gap: 0px;
  }
}

.react-tel-input .country-list {
  gap: 3px !important;
  flex-direction: column;
  align-items: flex-start;
}

.react-tel-input .country-list li {
  max-width: 100%;
  align-items: center !important;
  flex-direction: row !important;
}

.react-tel-input .country-list .search-box {
  border-radius: 3px !important;
  font-size: 15px !important;
  line-height: 15px !important;
  margin-left: 6px !important;
  padding: 3px 8px 5px !important;
  outline: none !important;
}

.react-tel-input .flag-dropdown {
  border: 0 !important;
  background-color: #f7f7fb !important;
}

.react-tel-input .flag-dropdown:hover {
  background-color: #f7f7fb !important;
}

.nextjs-toast-errors-parent {
  display: none;
}
